#progress_report_name {
	float: right;
}

#progress_report_status {
	font-style: italic;
}

#progress_report_bar_container {
	width: 100%;
	height: 5px;
}
#progress_report_bar {
	background-color: #C4C4CE;
	width: 0;
	height: 100%;
}

#file_list {
	height: 100px;
	overflow: auto;
	padding: 8px;
	border: 1px solid #e0e0e0;
	display: none;
}

#file_list p {
	
}

#file_list p small {
	display: block;
	font-size: smaller;
}
small.failure {
	color: red;
}
small.success {
	color: green;
}